# This file controls which individuals and teams are considered by github to be "code owners."
# One of these individuals must currently approve PRs in the develop branch.

# TODO: Change this from puppet-librarians to admin(s) in the appropriate MSI unit
# glob                               # owners
*                                    @MSI-Puppet/puppet-librarians
